/* .reveal .slides { text-align: initial; } */

.reveal .filename { font-size: 50%; /* line-height: 0ex; */ float: right }

/* .reveal h1 { font-family: sans-serif; } */
.reveal h1 { font-size: 3.77em; }
.reveal h2 { font-size: 2.11em; }
.reveal h3 { font-size: 1.55em; }
.reveal .level2 h1 { font-size: 2.11em; }
.reveal { line-height: initial; }

.reveal .heads_up { position: absolute; right: 0; top: 20ex; z-index: 10; }

pre code ,
.reveal pre code {
  font-size:0.8em !important;
}

.reveal pre code {
    font-family: Menlo,monospace;
    font-size: 125%;
    line-height: initial;
}

.left_align > div {
    text-align: left;
}
.left_align ol, .left_align ul {
    display: initial; margin: initial;
}

/* div .center_align { text-align: center; } */

div.no_border img {
    box-shadow: initial;
    border: initial;
    background: initial;
}

div.logo img {
    width: 50%;
    height: auto;
}

div.screen_grab img {
    width: 50%;
    height: auto;
}

.reveal section img
{
  border:0px;
  background:none;
  box-shadow:none;
}
.reveal .slides>section,
.reveal .slides>section>section {
    padding: 0;
}

.no_center {
    min-height: initial !important;
}

.strike { text-decoration: line-through; color: #8f4040; }


.rust .runlink {
  /*visibility: hidden;*/
  float: right;
  margin: 0;
  padding: 2px 4px;
  background-color: #7f3f00;
  color: white;
  border: 1px solid black;
  border-radius: 1.5px;
  font-weight: bold;
}
.rust:hover .runlink {
  visibility: visible;
}
